#abt{
    margin-top: 4.2rem;
    width: 100%;
    height: 80vh;
    filter: blur(2px);
}

.btn{
    position: absolute;
    margin-top: 35%;
    margin-left: -53%;
    border-radius: 90px;
    height: 50px;
    border: rgba(255, 255, 255, 0.566) 2px solid;
    box-shadow: 10px 20px 20px black;
    background-color: rgb(224, 146, 0);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
    background-color: black;
}

#abtus{
    cursor: pointer;
    width: 102%;
    border-radius: 25px;    
   transition: all 0.5s ease;
}

#abtus:hover{
    transform: scale(1.1);
}

.aboutIg{
    overflow: hidden;
    width: 18%;
    height: 38vh;
     margin-left: 1.3%;
    margin-top: 5%;
    border-radius: 25px;
    
}

.about{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: -19%;
    margin-left: 22rem;
    
}




#b{
    color: rgb(255, 179, 0);
    font-size: larger;
     border-bottom: 2px solid white;    
     width: fit-content;
}

.infinite-scroll {
    font-size: larger;
    color: papayawhip;
    margin-top: 1rem;
    margin-left: 2%;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  50%{ transform: translateX(-5%); }
  100% { transform: translateX(0); }


}